input {
  color: #7cbdba;
  display: inline-block;
  line-height: 2.5em;
  padding: 0 0.5em;
  border-radius: 0.6em;
  margin-right: 1em;
  box-shadow: 0 1px 1px #33333d;
  background-image: linear-gradient(to bottom, #616174, #24242c);
}

input:hover {
  color: white;
}

div{
  display: flex;
  align-items: center;
}