<div>
  <h2 class="title">{{title}}</h2>

  <app-decimal-sort></app-decimal-sort>

  <ul>
    <li class="theme-light-5">
      <p>theme-light-5 ou theme-light</p>
    </li>
    <li class="theme-light-4">
      <p>theme-light-4</p>
    </li>
    <li class="theme-light-3">
      <p>theme-light-3</p>
    </li>
    <li class="theme-light-2">
      <p>theme-light-2</p>
    </li>
    <li class="theme-light-1">
      <p>theme-light-1</p>
    </li>
    <li class="theme">
      <p>theme</p>
    </li>
    <li class="theme-dark-1">
      <p>theme-dark-1</p>
    </li>
    <li class="theme-dark-2">
      <p>theme-dark-2</p>
    </li>
    <li class="theme-dark-3">
      <p>theme-dark-3</p>
    </li>
    <li class="theme-dark-4">
      <p>theme-dark-4 ou theme-dark</p>
    </li>
  </ul>
</div>
