.title {
  text-align: center;
}

ul {
  padding: 0 2rem;
  li {
    height: 2.5rem;
    list-style-type: none;
    p {
      padding: 0.5rem;
    }
  }
}

$color-theme: #FF5733;

// Theme Colors
.theme {
  color: #fff;
  background-color: $color-theme;
}
.theme-light {
  color: #000;
  background-color: lighten($color-theme, 45);
}
.theme-dark {
  color: #fff;
  background-color: darken($color-theme, 45);
}

// Theme buttons e labels
.theme-action {
  color: #fff;
  background-color: darken($color-theme, 35);
}
.text-theme {
  color: lighten($color-theme, 15);
}

//Theme Gradients
.theme-light-5 {
  color: #000;
  background-color: lighten($color-theme, 45);
}
.theme-light-4 {
  color: #000;
  background-color: lighten($color-theme, 35);
}
.theme-light-3 {
  color: #000;
  background-color: lighten($color-theme, 25);
}
.theme-light-2 {
  color: #fff;
  background-color: lighten($color-theme, 15);
}
.theme-light-1 {
  color: #fff;
  background-color: lighten($color-theme, 5);
}

.theme-dark-1 {
  color: #fff;
  background-color: darken($color-theme, 5);
}
.theme-dark-2 {
  color: #fff;
  background-color: darken($color-theme, 15);
}
.theme-dark-3 {
  color: #fff;
  background-color: darken($color-theme, 25);
}
.theme-dark-4 {
  color: #fff;
  background-color: darken($color-theme, 35);
}

.theme-dark-5 {
  color: #fff;
  background-color: darken($color-theme, 45);
}
